<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container-fluid">
        <div class="row">
        <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
            <a href="https://www.youtube.com/watch?v=P99wvpGX8LY" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>Why Robot Framework Puppeteer?</h3>
            <p>Robot Framework Puppeteer created based on <strong>3 core</strong> values</p>

            <div class="icon-box">
            <div class="icon"><i class="bx bx-meteor"></i></div>
            <h4 class="title"><a href="">Faster</a></h4>
            <p class="description">
                We use native python puppeteer library name pyppeteer.<br>
                No transformation or any hop of communication inside test script and browser.
            </p>
            </div>

            <div class="icon-box">
            <div class="icon"><i class="bx bx-donate-heart"></i></div>
            <h4 class="title"><a href="">Easier</a></h4>
            <p class="description">
                Puppeteer build on top of Robot Framework that easy for any QA who start learning automated testing.
            </p>
            </div>

            <div class="icon-box">
            <div class="icon"><i class="bx bx-atom"></i></div>
            <h4 class="title"><a href="">Stable</a></h4>
            <p class="description">
                Most of Selenium flaky came from Asynchronous calls limitation, Element visibility, and timeout. These can solve efficiently when you handle with HTTP request layer using a library like a Puppeteer.
            </p>
            </div>

        </div>
        </div>

    </div>
</section><!-- End About Section -->
