<section id="document" class="details">
  <div class="container">

    <div class="section-title">
      <h2>Document</h2>
      <p>Document & Blog</p>
    </div>

    <h3 class="mt-2">Keyword documentation</h3>          
    <div class="row content">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="https://qahive.github.io/robotframework-puppeteer/PuppeteerLibrary.html">Keyword documentation</a> for available keywords and more information about the library in general. Explore more please visit <a href="https://github.com/qahive/robotframework-puppeteer">Github</a>
          </li>
        </ul>
      </div>
    </div>

    <h3 class="mt-2">Example Scripts</h3>
    <div class="row content">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="https://github.com/qahive/robotframework-puppeteer/tree/master/Examples">Example Scripts</a> for all keywords example script
          </li>
        </ul>
      </div>
    </div>

    <h3 class="mt-2">Blog QAHive</h3>
    <div class="row content">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="https://medium.com/qahive">QA Hive Blog</a> for update keywords and tips
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>