<section id="features" class="features">
  <div class="container">

    <div class="section-title">
      <h2>Features</h2>
      <p>Check The Features</p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <a href="/features/alert-handler-feature/" class="icon-box">
          <i class="ri-alert-line" style="color: #4233ff;"></i>
          <h3>Alert Handler</h3>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <a href="/features/async-await-feature/" class="icon-box">
          <i class="ri-shuffle-line" style="color: #ffbb2c;"></i>
          <h3>Async | Await</h3>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <a href="/features/browser-management-feature/" class="icon-box">
          <i class="ri-window-fill" style="color: #11dbcf;"></i>
          <h3>Browser Management</h3>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <a href="/features/debug-mode-feature/" class="icon-box">
          <i class="ri-tools-line" style="color: #47aeff;"></i>
          <h3>Debug mode</h3>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 mt-4">
        <a href="/features/element-property-feature/" class="icon-box">
          <i class="ri-apps-line" style="color: #e361ff;"></i>
          <h3>Element property</h3>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <a href="/features/form-handler-feature/" class="icon-box">
          <i class="ri-article-line" style="color: #5578ff;"></i>
          <h3>Form Handler</h3>
        </a>
      </div>
      
      
      <!-- 
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-image-line" style="color: #e361ff;"></i>
          <h3><a>Visual Testing</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-smartphone-line" style="color: #e80368;"></i>
          <h3><a>Simulator</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-play-line" style="color: #ffa76e;"></i>
          <h3><a>Mock Response</a></h3>
        </div>
      </div>
      -->
    </div>

  </div>
</section>