<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
	<div class="container d-flex align-items-center">

		<div class="logo mr-auto">
			<h1 class="text-light">
					<a href="{{ .Site.BaseURL }}">
						<div class="d-lg-none">RF <i class="ri-code-line" style="font-size: 20px;"></i> Puppeteer</div>
						<span class="d-none d-lg-block">Robot Framework <i class="ri-code-line" style="font-size: 20px;"></i> Puppeteer</span>
					</a>
			</h1>
		</div>

		<nav class="nav-menu d-none d-lg-block">
			<ul>
				<li class="active"><a href="{{ .Site.BaseURL }}">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="{{ .Site.BaseURL }}#quick-start">Quick Start</a></li>
				<li class="drop-down">
					<a href="{{ .Site.BaseURL }}#features">Features</a>
					<ul>
						<li><a href="{{ .Site.BaseURL }}/features/alert-handler-feature/">Alert Handler</a></li>
						<li><a href="{{ .Site.BaseURL }}/features/async-await-feature/">Async & Await</a></li>
						<li><a href="{{ .Site.BaseURL }}/features/browser-management-feature/">Browser Management</a></li>
						<li><a href="{{ .Site.BaseURL }}/features/debug-mode-feature/">Debug Mode</a></li>
						<li><a href="{{ .Site.BaseURL }}/features/element-property-feature/">Element Property</a></li>
						<li><a href="{{ .Site.BaseURL }}/features/form-handler-feature/">Form Handler</a></li>
					</ul>
				</li>
				<li><a href="{{ .Site.BaseURL }}#document">Document</a></li>
				<li><a href="{{ .Site.BaseURL }}#team">Team</a></li>
				<li><a href="{{ .Site.BaseURL }}#contact">Contact</a></li>
			</ul>
		</nav><!-- .nav-menu -->

	</div>
</header><!-- End Header -->
