<section id="quick-start" class="details">
  <div class="container">

    <div class="section-title">
      <h2>Quick Start</h2>
      <p>Start your test project here</p>
    </div>
    
    <div class="row content">
      <div class="col-md-12">
        <ul>
          <li>
            <b>1.</b> Download package
            <a href="https://github.com/qahive/generator-robotframework-puppeteer/releases/download/0.1.2-1/rfp-test-project-page-object.zip" type="button" class="btn btn-primary btn-sm">
              Download
            </a> 
          </li>
          <li>
            <b>2.</b> Run following command inside project folder
            <div id="install-command" class="mt-2">
              <i class="bx bx-dollar"></i> pip install -r requirements.txt
            </div>
          </li>
          <li>
            <b>3.</b> Run exaple test with following command
            <div id="install-command" class="mt-2">
              <i class="bx bx-dollar"></i> robot Features/Demo.robot
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- ======= Customize Section =======
    <div class="row">
      <div class="col-md-3">
        <img src="assets/img/details-3.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 col-md-offset-2 pt-5">
        <h3>Customize your own</h3>
        <p class="mt-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" checked="" value="features.pageobject">
              Page Object Structure
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="features.atdd">
              ATDD / BDD
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked="" value="features.percy">
              Visual Testing
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="features.pdf">
              PDF reader
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="features.zxing">
              QRCode reader
            </label>
          </div>
          <div class="text-left mt-4">
            <button type="button" class="btn btn-primary">
              <i class="bx bx-package"></i> Complie & Download
            </button>
          </div>
        </p>
      </div>
    </div><!-- End Customize Section -->

  </div>
</section>